

.all{
    border: 5px solid black;
}

.top{
    border: 1px solid black;
    margin: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

.bottom{
    border: 1px solid black;
    margin: 5px;
}


.middle{
    position: relative;  /*요소 자기 자신을 기준으로 배치 즉, middle 요소 기준으로 잡음*/
    width: 100%;
    height: 500px;
    box-sizing: border-box;   /*box sizing 기준을 border-box로 잡겠다.*/
    border: 2px solid red;
}

.stage{
    border: 1px solid black;
    background-color: gray;
    height: 50px;
    position: absolute;
    left: 5%;
    width: 20%;
    padding: 5px;
}

.detail{
    position: absolute;
    left: 80%;
    width: 70%;
}

.detail1{
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
}
