/*
 * CompanyManagement component
 */
.companyManagementDiv {
    color: black;
    box-sizing: border-box;
    height: 80vh;
    width: 80vw;
}
.companyListInfoDiv {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1em;
}


/*
 * CompanySearch component
 */
.companySearchDiv {
    width: 100%;
    line-height: 37px;
    box-sizing: border-box;
    border: 1px solid darkgray;
    display: flex;
    justify-content: space-evenly;
}
.companySearchSpan {
    font-size: 1.3em;
    padding-right: 1em;
}
.companySearchInput {
    border: 1px solid darkgray;
    height: 1.7em;
    width: 25em;
}
.companySearchBtn {
    border: 1px solid darkgray;
    border-radius: 0.5em;
    height: 2.5em;
    width: 3em;
    margin-top: 0.4em;
}


/*
 * CompanyList component
 */
.companyListDiv {
    border: 1px solid darkgray;
    height: 72vh;
    width: 20vw;
    display: grid;
    grid-template-rows: 1fr 15fr 2fr;
    margin-top: 1em;
}
.companyItemDiv {
    overflow: auto;
}
.companyCountItemDiv {
    font-size: 1.3em;
    padding-top: 0.3em;
    padding-left: 0.5em;
    border-bottom: 1px solid darkgray;
}
.companyRegisterBtnDiv {
    border-top: 1px solid darkgray;
    display: flex;
    justify-content: center;
}
.companyRegisterBtnDiv>button {
    font-size: 1.2em;
    color: #888888;
}


/*
 * CompanyCount component
 */
.CompanySortDiv {
    display: flex;
    justify-content: space-between;
    padding-right: 0.5em;
}
.companyCountSpan {
    margin-left: 0.5em;
    color: #46a3fb;
}


/*
 * CompanyListItem component
 */
.companyListItemDiv {
    width: 23em;
    height: 6em;
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    justify-items: center;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.companyUseItemDiv {
    border: 1px solid;
    border-radius: 1rem;
    height: 2em;
    width: 4em;
    padding-top: 0.2em;
    text-align: center;
    color: white;
}


/*
 * CompanyInformation component
 */
.companyInformationDiv {
    display: grid;
    grid-template-rows: 1fr 15fr;
    margin-top: 1em;
}
.companyInfoBtnDiv {
    display: grid;
    grid-template-columns: 20fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    border-bottom: 2px solid #6c6c6c;
}
.companyInfoSpan {
    font-size: 1.5em;
}
.companyInfoSaveBtn, .companyInfoDelBtn {
    border: 1px solid darkgray;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    height: 2em;
    width: 3em;
}
.companyInfoShowBtn {
    margin-bottom: 0.5em;
    font-size: 1.3em;
    font-weight: bold;
    color: #6c6c6c;
}


/*
 * CompanyInfoItem component
 */
.companyInfoItemDiv {
    display: grid;
    grid-template-columns: 1.5fr 10fr;
    border-bottom: 1px solid #6c6c6c;
}
.companyInfoNameDiv {
    text-align: right;
    border-right: 1px solid #6c6c6c;
    height: 3em;
    line-height: 3em;
}
.companyInfoNameDiv>span {
    margin-right: 0.5em;
}
.companyInfoInputDiv {
    height: 3em;
    line-height: 3em;
    width: 20em;
}
.companyUseInputDiv>input {
    margin-left: 1em;
}
.companyInfoInputDiv>input {
    width: 20em;
    height: 2em;
    line-height: 2em;
    margin-left: 1em;
}
