/*
    부서관리 메인 페이지
 */
.deptMainDiv {
    display: grid;
    grid-auto-columns: 1fr 3fr;
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
}

/*
    부서 기본정보 페이지
*/
.deptData{
    line-height: 10em;
    width: 50em;
}

.deptItem{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 2em;
}

